$font-xs: 14px;
$font-sm: 16px;
$font-md: 19px;
$font-lg: 20px;
$font-larger: 22px;
$font-xl: 24px;
$font-xxl: 32px;
$font-huge: 36px;
$font-huger: 40px;

$font-bold: 500;
$font-thin: 400;
$font-thinner: 200;
$w-full: 100%;
$w-half: 50%;

$shadow-sm: 0 1rem 3rem rgba(black, 0.1);
$shadow-md: 0 1rem 3rem rgba(black, 0.25);
$shadow-button: 4px 4px 4px rgba(black, 0.2);

$marginTop: 48px 0px;
